<li [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': appareilStutus === 'allumé',
    'list-group-item-danger': appareilStutus === 'éteint',
    }">
  <h4
    [ngStyle]="{color: getColor()}"
  >Appareil : {{appareilName}} - Statut : {{getStatus()}}
  </h4>
  <button class="btn btn-success" (click)="onSwitchOn(indexOfApprail)" [disabled]="appareilStutus === 'allumé'">Allumez-moi</button>
  <button class="btn btn-danger" (click)="onSwitchOff(indexOfApprail)" [disabled]="appareilStutus === 'éteint'">Eteignez-moi</button>
</li>


