<li [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': appareilStutus === 'allumé',
    'list-group-item-danger': appareilStutus === 'éteint',
    }"
>
  <div
    *ngIf="appareilStutus=='éteint'"
    style="width: 1.25rem; height: 1.25rem; background-color: crimson"
  ></div>
  <h4
    [ngStyle]="{color: getColor()}"
  >Appareil : {{appareilName}} - Statut : {{getStatus()}}
  </h4>
  <input
    type="text"
    class="form-control"
    [(ngModel)]="appareilName"
  >
</li>


